@import "tailwindcss";

@theme {
  --color-navy: #545557;
  --color-orange: #9FAF2B;
  --color-cream: #F3F3F3;
  --color-charcoal: #333333;
}

@layer base {
  html {
    @apply antialiased scroll-smooth;
    background-color: var(--color-cream);
    color: var(--color-charcoal);
    font-family: 'Inter', system-ui, sans-serif;
  }
}