---
import Layout from "../layouts/Layout.astro";
import Header from "../components/Header.astro";
import TrustFeatures from "../components/TrustFeatures.astro";
import VehicleCategories from "../components/VehicleCategories.astro";
import ContactSection from "../components/ContactSection.astro";
import Footer from "../components/Footer.astro";
import Carousel3D from "../components/Carousel3D.astro";
---

<Layout title="Autohaus Eckenberger | Nutzfahrzeuge, PKW & Quads in Waldsassen">
    <Header />
    <main>
        <Carousel3D />

        <TrustFeatures />
        <VehicleCategories />
        <ContactSection />
    </main>
    <Footer />
</Layout>
